/* * {
  background-image: url("../img/pexels-tahir-shaw-186980.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);

} */

.App {
  
  text-align: center;

}
/* 
.row {
  display: flex;
  justify-content: center;
} */

* {
  background-color: #7D7369;

  /* background-image: url("../img/pexels-tahir-shaw-186980.jpg");
  height: 100%;
  position: relative;
  background-repeat: no-repeat;
  background-size: cover;
  filter: blur(20px);
  -webkit-filter: blur(20px);
   */
}