.card {
  margin: 20px;
  width: 28rem;
  /* height: 15rem; */
  border-radius: 5px;
}

#closeIcon {
  display: flex;
  justify-content: flex-end;
  margin-right: 8px;
  margin-top: 8px;
}


.rowButton{
  margin-left: 85%;
  background-color: aliceblue;
  width: 20px;
}

.card-body {
  width: 100%;
  margin-top: 0px !important;
  padding-top: 0px !important;
 
  background-color: aliceblue;
} 

.card-title {
  margin-bottom: 25px;
  background-color: aliceblue;
}

.row{
  display: flex;
  flex-direction: row;
  background-color: aliceblue;
}








/* .card-body {
  border: rgba(9, 9, 9, 0.625) solid 1px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  width: 300px;
  height: 180px;
  position: relative;
  }
  
  .infoCont{
  display: flex;
  
  justify-content: space-around;
  align-items: center;
  }
  .infoCont img{
      background-color: #2aa8c0;
      border-radius: 8px;
  } 
  
  .btn{
      background-color: #f4ceb2;
      height: min-content;
      width: min-content;
      border-radius: 15px;
      position: absolute;
      right: 5px;
      top: 5px;
      border: none;
  }
  
  .btn:hover{
      cursor: pointer;
      background-color: #d77834;
  } */
