.ciudad {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    flex-direction: row;
}

.container {
    margin: 20px;
    width: 28rem;
    border: solid 1px black;
    border-radius: 5px;
}


.info {
    color: rgb(255, 244, 175);
}