#logoHenry {
  margin-right: 20px;
}

.navbar {
  
  background-color: #7A4A1A;
  
}

.title {
  display: flex;
  flex-direction: row;
  padding-left: 10px;
  color: #FBBD80;
  background-color: #7A4A1A;
}
h1{
  background-color: #7A4A1A;
}

.aboutspan{
  background-color: #7A4A1A;
}

.logo{
  margin-top: 8px;
}

.about {
  color: #FBBD80;
  text-decoration: none;
}

